@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant disabled (&:where([disabled], [disabled] *));

@layer base {
    a, button {
        @apply cursor-pointer;
    }

    li[aria-current="page"]{
        @apply bg-teal-200/30 text-gray-200!;
    }


		button[disabled]{
      @apply text-gray-800/50 cursor-not-allowed;
    }
}

@layer components{
  

  #pdf_text-layer > span {
    position: absolute;
    white-space: pre;
    cursor: text;
   
  }
}
