@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    a, button {
        @apply cursor-pointer;
    }
}

@layer base {
    li[aria-current="page"]{
        @apply bg-teal-200/30 text-gray-200!;
    }
}